<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadrado magico</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>

    <h1>Quadrado Magico</h1>
    <form action="/quadrado" id="form_quadrado" method="post">
        <label for="valor_n">Valor de n para o quadrado mágico:</label>
        <input type="number" name="valor_n" id="input_n" required placeholder="Digite aqui">
        <button type="submit" id="button_quadrado">CRIAR</button>
    </form><br><br>

    <button onclick="cor()" id="bt_cor">cor</button>



    <div class="caixa">
        {% if n is defined and n is number %}
        <table id="quadrado_magico">
                {% for i in range(n) %}
                    <tr>
                        {% for j in range(n) %}
                            {% if i == j or n - i - 1 == j %}
                                <td class="diagonal">{{quadrado[i][j]}}</td>
                            {% elif j == (n+1)/2 - 1 or (n % 2 ==0 and n/2 == j or n/2 - 1 == j) %}
                                <td class="coluna_central">{{quadrado[i][j]}}</td>
                            {% elif i == (n+1)/2 - 1 or (n % 2 ==0 and n/2 == i or n/2 - 1 == i) %}
                                <td class="linha_central">{{quadrado[i][j]}}</td>
                            {% else %}
                                <td class="preenchimento">{{quadrado[i][j]}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <script src="../static/JS/script.js"></script>

</body>

